.font-raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
}

.text-light{
    color: #25243280;
}

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    padding: 50px 150px 0px 150px;
    max-width: 1140px;
}

.navbar h1{
    color: #4E47FF;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
}

.banner{
    padding-top: 208px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 152px;
}


.banner-image{
    background-image: url(../Assets/Hero-bg.png);
}


.action{
    margin: 116px auto;
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
}

.action-left{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.action-image{
    border-style: none;
    border-radius: 48px;
}