* {
    margin: 0;
    padding: 0;
}

/*font setup*/
.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/*font-color setup*/
.header-color {
    color: #252432;
}

.text-light {
    color: #25243280;
}

.btn-primary {
    background-color: #4E47FF;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-style: none;
    border-radius: 10px;
    font-weight: 500;
}

.btn-primary:hover{
    background-color: rgb(233, 127, 5);
    color: black;
    transform: scale(1.2);
    cursor: pointer;
}

/*body*/
body {
    background-color: rgba(211, 230, 233, 0.247);
}

/*header*/
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 150px 0px 150px;
    max-width: 1140px;
}

.navbar h1 {
    color: #4E47FF;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
}

.banner {
    padding-top: 208px;
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 152px;
}

.banner-image {
    background-image: url(../Assets/Hero-bg.png);
}

/*header end*/


/*main content action section start*/
.action {
    margin: 116px auto;
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
}

.action-left {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.action-image {
    border-style: none;
    border-radius: 48px;
}

/*main content action section end*/

/*main content productive section start*/

.productive-section {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgb(78, 71, 255, 0.1);
    border-radius: 24px;
}

.productive-items {
    padding: 50px 142px;
}

.productive-cards {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.productive-title {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.productive-card-title {
    font-size: 80px;
    font-weight: 800px;
    color: #4E47FF;
}

.productive-card-para {
    color: #25243280;
    text-align: center;
}

/*main content productive section end*/

/*main content feedback section start*/

.feedback-section {
    max-width: 1140px;
    margin: 137px auto;
}

.feedback-title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.review-cards {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.review-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.review-name {
    color: #757575;
    padding-bottom: 5px;
}

.review-date {
    color: #B3B3B3;
}

.review-card {
    background-color: white;
    border-radius: 14px;
    max-width: 366px;
}

.reviews {
    padding: 24px 44px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review-card-title {
    font-size: 24px;
    padding-bottom: 8px;
}

.review-card-para {
    font-size: 16px;
}

.review-avatar {
    border-radius: 100%;
}

/*main content feedback section end*/

/*main content purchase section start*/

.purchase-section {
    background-color: white;
    border-radius: 14px;
    max-width: 1140px;
    margin: 0 auto;
}

.purchase {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 150px;
    text-align: center;

}

.purchase-image {
    border-radius: 48px;
}

.purchase-title {
    font-size: 50px;
    font-weight: bold;
}

/*main content purchase section end*/

/*main content getintouch section start*/

.get-in-touch {
    display: flex;
    align-items: center;
    max-width: 1140px;
    justify-content: space-between;
    margin: 162px auto 70px auto;
}

.get-in-touch-title {
    font-size: 97px;
    font-weight: bold;
}

.info-input input {
    padding: 20px 0px 20px 32px;
    width: 497px;
    background-color: white;
    border: 0.5px solid #7575754d;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 19px;
    font-size: 20px;
}

#large-message {
    padding: 20px 0px 85px 32px;
    border: 0.5px solid #7575754d;
    margin-top: 10px;
    margin-bottom: 19px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    width: 497px;
}

.info-input label {
    font-size: 18px;
}

#info-btn {
    padding: 19px 221px;
    font-size: 16px;
}

/*main content getintouch section end*/

/*footer start*/

footer {
    text-align: center;
    background-color: white;
}

.footer {
    max-width: 531px;
    margin: 0 auto;
    padding: 104px 0;
}

footer h1 {
    font-size: 100px;
    color: #4E47FF;
    padding-bottom: 20px;
    font-weight: 800;
}

footer a {
    text-decoration: none;
    color: #8987A1;
}

footer p {
    color: #8987A1;
    padding-bottom: 20px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 48px;
}

/*footer end*/